// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* Navigation Menu */
nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      display: inline-block;
      padding: 10px;

      // Show sub-menu on hover
      &:hover > ul {
        display: block;
      }

      // Sub-menu styling
      ul {
        display: none; // 서브 메뉴는 기본적으로 숨김
        position: absolute; // 위치 설정
        top: 100%;
        left: 0;
        background-color: #333; // 배경색
        padding: 0;
        min-width: 200px;

        li {
          display: block;
          padding: 10px;
          color: white;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              background-color: #444; // 서브 메뉴 항목에 마우스 오버 시 배경색 변경
            }
          }
        }
      }
    }
  }
}
